.env
.env.*
!.env.example
firebase_credentials.json
__pycache__
**/__pycache__
*.pyc
.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
.git
.gitignore
.vscode
.idea
*.md
!README.md
tests
**/tests
docker-compose.yml
docker-compose*.yml
nginx.conf
Dockerfile
.render*
